@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&family=Lora:wght@600&family=Montserrat:wght@400;700&family=Noticia+Text&family=PT+Serif&family=Dancing+Script:wght@700&family=Yeseva+One&display=swap');

$gold: #C19977;
$primary: #B1B5B7;

.color {
    &-gold {
        color: #c19977 !important;
    }
    &-text {
        color: #B1B5B7 !important;
    }
    &-white {
        color: white !important;
    }
}

.quote {
    font-family: 'PT Serif', serif;
    font-size: 24px;
    width:100%;
    vertical-align: top;
    max-height: 180px;
    @media screen and (max-width:766px) {
        width: auto;
    }
}

main {
    font-weight: 200;
    h3, h4, h5 {
        font-family: 'Dancing Script';
        font-weight: 700;
    }
}

.bottom-copy {
    display: none;
    @media screen and(max-width: 766px) {
      position: absolute;
      bottom: 10%;
      left: 24px;
      color: white;
      font-size: 20px;
      display: block;
    }
  }
.font {
    &-dancing{
        font-family: 'Dancing Script';
    }
    &-medium {
        font-size: 16px !important;
    }
    &-14 {
        font-size: 14px !important;
    }
    &-12 {
        font-size: 12px !important;
    }
    &-mediumbig {
        font-size: 20px !important;
    }
    &-bigone {
        font-size: 24px !important;
    }
    &-bold {
        font-weight: bold;
    }
    &-super {
        font-size: 32px !important;
    }
}
main {
    overflow: hidden;
    background: #0e1317;
    color: #B1B5B7;
    font-family: 'Poppins';
}


main {
    .slick-next:before, .slick-prev:before {
        font-family: 'fontAwesome';
    }
    .slick-next,.slick-prev {
        &::before {
            opacity: 1;
        }
        
    }
    .slick-next{
        right: 16px;
        &:before{
            content: "\f054";
            font-size: 36px;
        }
    }
    
    .slick-prev{
        z-index: 56;
        left: 16px;
        &:before{
            content: "\f053";
            font-size: 36px;
        }
    }
    
}

.hero {
    margin-top: 56px;
    // height: 100vh;
    padding: 0;
    .image {
        width: 100%;
        height: 85vh;
        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    iframe {
        width: 100%;
        height: 100%;
        border-color: transparent;
    }
}

.investor {
    position: relative;
    height: 100%;
    &-help {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 60vh;
        background: #151a21;
        @media screen and (min-width:1440px) {
            height: 40vh;
        }
    }
    &-text {
        position: absolute;
        left: 4%;
        bottom: 40%;
        color: #0e1317;
        // opacity: .5;
        font-size: 98px;
        @media screen and (min-width:1440px) {
            left: 15%;
            bottom: 60%;
        }
    }
    .image {
        width: 100%;
        height: 100%;
        @media screen and (max-width:766px) {
            margin-bottom: 16px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.home-about {
    .image {
        height: 420px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &.helps {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 200px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.div-center {
    margin: 0 auto;
    display: block;
    text-align: center;
}

main {
    .btn-sm {
        color: #ffffff;
        background-color: #222d3b;
        border-color: transparent;
        &:hover, &:focus,&:active {
            background-color: $gold;
            border-color: transparent !important;
            outline: 0 !important;
            box-shadow: none !important;
        }
    }
    .btn-primary {
        display: inline-block;
        position: relative;
        z-index: 1;
        border-radius: 0;
        line-height: 1.1;
        font-weight: 400;
        letter-spacing: 0.1em;
        font-size: 14px;
        color: #ffffff;
        background-color: #222d3b;
        padding: 16px;
        border-color: transparent;
        &:hover, &:focus,&:active {
            background-color: $gold;
            border-color: transparent !important;
            outline: 0 !important;
            box-shadow: none !important;
        }
        &::before {
            // content: '';
            // position: absolute;
            // z-index: -1;
            // top: calc(0px - var(--benoit-button-margin));
            // right: calc(0px - var(--benoit-button-margin));
            // bottom: calc(0px - var(--benoit-button-margin));
            // left: calc(0px - var(--benoit-button-margin));
            // border-radius: inherit;
            // border-style: solid;
            // border-width: 1px;
            // transition: transform .4s ease-in-out, opacity .4s ease-in-out;
            // border-color: var(--benoit-primary-color);
        }
    }
}

.the-menus {
    position: relative;
    top: -40px;
    display: block;
    @media screen and (max-width:766px) {
        top: 32px;
    }
    .right-side {
        display: inline-block;
        width: 48%;
        margin-left: -16px;
        top: 90px;
        height: 400px;
        border: 1px solid #645344;
        padding: 32px 16px 32px 24px;
        position: relative;
        z-index: 1;
        position: relative;
        @media screen and (max-width:766px) {
            display: block;
            width: 100%;
            top: 16px;
        }
        .helpings {
            position: relative;
            z-index: 7;
        }
        &:after {
            position: absolute;
            content: '';
            background-color: #000;
            left: 0;
            top: 8px;
            z-index: 2;
            bottom: 8px;
            right: 8px;
        }
    }
    .left-side {
        width: 45%;
        display: inline-block;
        position: relative;
        z-index: 2;
        // height: 100%;
        @media screen and (max-width:766px) {
            display: block;
            width: 100%;
        }
        .center-name {
            position: absolute;
            left: 50%;
            width: 60%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;
            @media screen and (max-width:766px) {
                width: 90%;
            }
            h2 {
                color: white;
                font-size: 42px;
                font-family: 'Dancing Script';
            }
        }
        .image {
            width: 100%;
            height: 460px;
            position: relative;
            &__help {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                background: rgba($color: #000000, $alpha: .5);
                z-index: 1;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.sub-title {
    font-size: 36px;
    margin-bottom: 32px;
    @media screen and (max-width:766px) {
        margin-top: 8px;
    }
}
.dblh__divider {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 21px;
    height: 21px;
    transform: translateY(100%);
    color: $gold;
    left: 0;
    span {
        left: inherit;
        position: absolute;
        z-index: 1;
        width: inherit;
        height: inherit;
        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            transform: rotate3d(0, 0, 1, 45deg);
            width: 70.75%;
            height: 70.75%;
            left: 3px;
            top: 3px;
            border: 1px solid $gold;
        }
        &::after {
            width: 41%;
            height: 41%;
            left: 6px;
            top: 6px;
            background-color: $gold;
            content: '';
            position: absolute;
            z-index: 1;
            transform: rotate3d(0, 0, 1, 45deg);
        }
    }
    &::after {
        left: 100%;
        margin-left: -1px;
        content: '';
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 1px;
        top: 10px;
        background-color: currentColor;
        opacity: .6;
    }
}
section {
    min-height: 70vh;
    padding: 32px 0;
}

.special-menu {
    position: relative;
    z-index: 10;
    .each-name {
        margin-bottom: 16px;
    }
    .home-wrap-menu {
        display: flex;
        align-items: baseline;
        .dotteds {
            width: 100%;
            height: 1px;
            flex: 1;
            background-color: $gold;
            order: 2;
        }
        .home-name {
            order: 1;
            margin-right: 8px;
            font-size: 24px;
            margin-bottom: 4px;
            font-weight: 300;
            line-height: 1.25;
            letter-spacing: .05em;
            transition: 0.4s;
        }
        .harga {
            order: 3;
            margin-left: 20px;
            font-size: 20px;
            font-weight: 300;
            line-height: 1;
        }
    }
}

.btn-bawah {
    @media screen and (max-width:766px) {
        margin-top: 72px;
    }
}

.reseller {
    position: relative;
    .imagex {
        width: 100%;
        height: 50%;
        margin-bottom: 16px;
        position: relative;
        z-index: 8;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    p,.btn {
        position: relative;
        z-index: 22;
    }
    .image {
        position: absolute;
        right: 16px;
        z-index: 2;
        top: 0%;
        // width: 320px;
        // transform: translate(50%,16%);
        // left: 25%;
        // opacity: .6;
        height: 320px;
        @media screen and (max-width:766px) {
            opacity: .3;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
 
}

.contact {
    .contact-icon {
        display: block;
        margin-bottom: 16px;
        .iconx{
            display: inline-block;
            width: 62px;
            height: 62px;
            vertical-align: top;
            background: #000;
            text-align: center;
            border-radius: 50%;
            padding: 14px 4px;
            i {
                color: #c19977;
                text-align: center;
                font-size: 32px;
            }
        }
        .contentx {
            display: inline-block;
            h3 {
                font-size: 22px;
            }
        }
    }
    .cafenya {
        height: 420px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


footer {
    .col-md-3 {
        margin-bottom: 16px;
    }
    .image {
        width: 60%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    padding: 24px 0;
    background: black;
    a {
        color: #B1B5B7;
        transition: .3s;
        &:hover {
            padding-left: 3px;
            color: white;
            text-decoration: none;
        }
    }
    .d-inline-block {
        width: 90%;
        margin-left: 4px;
        vertical-align: text-top;
    }
    .icon-href {
        display: inline;
        a {
            &:hover {
                padding-left: 0 !important;
                i {
                    color: rgb(255, 246, 246) !important;
                }
                
            }
        }
        i {
            font-size: 42px;
            margin-right: 16px;
            transition: .3s;
            &:hover {
                // padding-left: 0 !important;
                color: white;
            }
        }
    }
}

.bannerx {
    min-height: auto;
    padding: 0;
}

.dblh__divider--center {
    position: absolute;
    z-index: 1;
    bottom: 0;
    margin-left: -10px;
    left: 50%;
    width: 21px;
    height: 21px;
    transform: translateY(100%);
    color: $gold;
    &::before {
        left: 1px;
        transform: translateX(-100%);
        content: '';
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 1px;
        top: 10px;
        background-color: currentColor;
        opacity: .6;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 1px;
        top: 10px;
        background-color: currentColor;
        opacity: .6;
        left: 100%;
        margin-left: -1px;
    }
    span {
        position: absolute;
        z-index: 1;
        width: inherit;
        height: inherit;
        left: inherit;
        margin-left: -10px;
        &::before {
            width: 70.75%;
            height: 70.75%;
            left: 3px;
            top: 3px;
            border: 1px solid $gold;
        }
        &::before,&::after {
            content: '';
            position: absolute;
            z-index: 1;
            transform: rotate3d(0, 0, 1, 45deg);
        }
        &::after {
            width: 41%;
            height: 41%;
            left: 6px;
            top: 6px;
            background-color: $gold;
        }
    }
}

.bannerx {
    // position: relative;
    .image {
        width: 100%;
        height: 50vh;
        position: relative;
        &::after {
            content: '';
            left: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba($color: #000000, $alpha: .4);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .titles {
            position: absolute;
            left: 10vw;
            bottom: 5vh;
            color: white;
            z-index: 99;
            font-size: 52px;
            @media screen and (min-width:1440px) {
                left: 15vw;
            }
        }
    }
}

.totop {
    position: relative;
    z-index: 40;
}

.menux {
    .menu-title {
        text-align: center;
        font-size: 28px;
        margin-bottom: 16px;
        color: #fff;
        padding: 0 8px;
        width: fit-content;
        position: relative;
        z-index: 6;
        /* background: #0e1317; */
        margin: 0 auto 24px;
        h2 {
            font-size: 28px;
            position: relative;
            z-index: 9;
            background: #0e1317;
        }
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: -50%;
            width: 50%;
            height: 2px;
            z-index: 1;
            background: $primary;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -50%;
            width: 50%;
            height: 2px;
            z-index: 1;
            background: $primary;
        }
    }
    ul {
        margin: 16px auto;
        display: flex;
        justify-content: center;
        li {
            margin-bottom: 16px;
        }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        background: $gold !important;
        color: #000 !important;
        font-weight: bold !important;
    }
    .nav-pills .nav-link {
        color: white !important;
    }
    .nav-item {
        margin: 0 4px;
        border: 1px solid $gold;
        border-radius: 8px;
        transition: .2s;
        &:hover {
            background: $gold;
        }
        @media screen and (max-width:766px) {
            margin: 4px;
        }
    }

    // card
    .card-menu {
        width: 100%;
        height: 320px;
        border: 1px solid $gold;
        position: relative;
        margin-bottom: 32px;
        background: black;
        z-index: 8;
        cursor: pointer;
        &:hover {
            .help {
                border: 1px solid #c19977;
            }
            .namanya {
                color: white;
            }
            .tofront {
                .detail {
                    opacity: 1;
                }
            }
        }
        .help {
            border: 1px solid transparent;
            top: -8px;
            transition: .3s;
            right: 8px;
            position: absolute;
            width: 93%;
            height: 105%;
            bottom: -8px;
            z-index: 1;
            left: 8px;
        }
        .tofront {
            position: relative;
            z-index: 40;
            height: 100%;
            background: #0e1317;
            .detail {
                position: absolute;
                left: 0;
                transition: .2s;
                right: 0;
                padding: 16px;
                top: 0;
                opacity: 0;
                bottom: 0;
                background: linear-gradient(to top, black, rgba(0,0,0,.75), black);
                p {
                    font-size: 16px;
                    @media screen and (max-width:766px) {
                        font-size: 12px;
                    }
                }
                p,.font-bold {
                    color: #B1B5B7;
                }
                
            }
        }
        @media screen and (min-width:1440px) {
            height: 320px;
        }
        @media screen and (max-width:766px) {
            height: 320px;
        }
        .image {
            width: 100%;
            height: 75%;
            padding: 8px;
            @media screen and (min-width:1440px) {
                padding: 16px 8px;
                height: 80%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .namanya {
            text-align: center;
            padding: 8px 0;
            font-size: 16px;
            // color: white;
            @media screen and (max-width:766px) {
                font-size: 16px;
            }
        }
    }
}

.scroll-to-menu {
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    display: block;
    transition: .3s;
    &:hover {
        color: white;
    }
}
.totop {
    position: relative;
    z-index: 43;
}
.travel {
    height: 100%;
    position: relative;
    &__helping {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .imagesx {
        width: 100%;
        height: 320px;
        &__small{
            width: 100%;
            height: 100px;
            margin: 0 8px;
            cursor: pointer;
            &:hover {
                opacity: .8;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.gallery-all {
    .gallery{
        display:block;
        margin: 0 auto;
        border-bottom: 1px dotted #1d1d1d;
        &-left,&-right {
            display: inline-block;
            width: 45%;
            margin: 16px;
            p {
                @media screen and (max-width:766px) {
                    font-size: 14px;
                }
            }
            @media screen and (max-width:766px) {
                margin: 16px 2px;
                vertical-align: top;
            }
            .image {
                width: 100%;
                height: 320px;
                @media screen and (max-width:766px) {
                    height: 320px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    @media screen and (max-width:766px) {
                        object-fit: cover;
                    }
                }
            }
        }
        &-right {
            // margin: auto;
        }
    }
}

body {
    .modal-content {
        background: transparent !important;
    }
    .modal {
        .image {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
            height: 100%;
                object-fit: cover;
            }
        }
    }
    .tutup {
        margin: 16px auto;
        text-align: center;
        .btn {
            background-color: #645344 !important;
            color: white !important;
            border: transparent !important;
        }
    }
}

.youtube {
    width: 600px;
    margin: 0 auto 24px;
    display: block;
    height: 420px;
    text-align: center;
    @media screen and (max-width:766px) {
        width: 100%;
        height: auto;
    }
    iframe {
        border-color: transparent;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.alls{
    position: relative;
    display: inline-block;
    height: 250px;
    width: 250px;

    
    .imagex {
        position: absolute;
        border-radius: 50%;
        background-color: #181a1d;
        width: 100%;
        height: 100%;
        transition: .3s;
        &:hover {
            background-color: black;
        }
        &.first {
            top: -396px;
            left: 80px;
        }
        &.second {
            right: -260px;
            bottom: 190px;
        }
    }
}
.reseller-bg {
    background: black;
    display: none;
    width: 640px;
    margin: 0 auto;
    padding: 32px;
    @media screen and (max-width:766px) {
        width: auto;
    }
    .form-input {
        margin-bottom: 32px;
        position: relative;
        height: 90px;
        // border: 1px solid;
        .error-form {
            color: rgb(190, 22, 22);
            position: absolute;
            bottom: 0;
            left: 16px;
            font-size: 12px;
        }
    }
    .form-control {
        background: transparent !important;
        border-color: transparent;
        border-bottom: 1px solid #645344;
        color: white;
        &:focus {
            box-shadow: none;
            outline: 0;
            border-bottom: 1px solid white;
        }
    }
}

.testimonial {
    margin: 32px 0;
    &__content {
        display: inline-block;
        width: 45%;
        @media screen and (max-width:766px) {
            width: 100%;
        }
    }
    &__img {
        // display: inline-block;
        width: 45%;
        height: 250px;
        position: absolute;
        right: 0;
        vertical-align: text-bottom;
        @media screen and (max-width:766px) {
            display: none;
        }
        .imagex {
            width: 100%;
            height: 250px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .iconx {
        position: absolute;
        left: 35%;
        top: 0;
    }
    .wrappers {
        display: block;
        position: relative;
    }

    .slick-next, .slick-prev{
        top: initial;
        z-index: 66;
        bottom: -24px;
    }
    .slick-prev{
        z-index: 56;
        left: initial;
        right: 90px;
    }
}

.tnc {
    margin: 24px 0 68px;
}